*
{
    padding: 0;
    margin: 0;
    list-style: none;
}

body, html{height:100%;}    

#main
{
    min-height:100%;
    position:relative;
    background-color: hsl(222, 26%, 31%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body section:first-child
{
    width: 90%;
    max-width: 550px;
    height: 90px;  
}

body section:first-child
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body section:first-child h1
{
    color: white;
    font-family: 'League Spartan', sans-serif;
    font-size: 35px;
    margin-top: 18px;
}

body section:first-child h2
{
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    font-family: 'League Spartan', sans-serif;
    margin-right: 25px;
}

#theme
{
    display: flex;
}

h3
{
    margin-left: 8px;
    margin-bottom: 5px;
    font-size: 17px;
    color: white;
    font-family: 'League Spartan', sans-serif;
    letter-spacing: 8px;
}

#change-theme button
{
    width: 80px;
    height: 25px;
    border-radius: 20px;
    border: none;
}

#screen
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    max-width: 550px;
    height: 100px;
    background-color: hsl(224, 36%, 15%);
    border-radius: 15px;
}

#screen p
{
    color: white;
    font-family: 'League Spartan', sans-serif;
    font-size: 50px;
    margin-right: 30px;
    font-weight: bolder;
}

#keypad
{
    width: 90%;
    max-width: 550px;
    height: 500px;
    background-color: hsl(223, 31%, 20%);
    margin-top: 30px;
    border-radius: 15px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas: 
    "a b c d"
    "e f g h"
    "i j k l"
    "m n o p"
    "q q r r"
    ;
}

#item1
{
    grid-area: a;
}

#item2
{
    grid-area: b;
}

#item3
{
    grid-area: c;
}

#item4
{
    grid-area: d;
}

#item5
{
    grid-area: e;
}

#item6
{
    grid-area: f;
}

#item7
{
    grid-area: g;
}

#item8
{
    grid-area: h;
}

#item9
{
    grid-area: i;
}

#item10
{
    grid-area: j;
}

#item11
{
    grid-area: k;
}

#item12
{
    grid-area: l;
}

#item13
{
    grid-area: m;
}

#item14
{
    grid-area: n;
}

#item15
{
    grid-area: o;
}

#item16
{
    grid-area: p;
}

#item17
{
    grid-area: q;
}

#item18
{
    grid-area: r;
}

#keypad button
{
    height: 70px;
    border-radius: 15px;
    border: none;
    font-family: 'League Spartan', sans-serif;
    font-weight: bolder;
    padding-top: 8px;
}

#keypad button:hover
{
    cursor: pointer;
}

#keypad button:not(#item4):not(#item18):not(#item17)
{
    width: 90%;
    max-width: 110px;
    color: hsl(221, 14%, 31%);
    font-size: 40px;
    box-shadow: 0 4px hsl(28, 16%, 65%);
}

#item4, #item17
{
    font-size: 30px;
    color: white;
    box-shadow: 0 4px hsl(224, 28%, 35%);
    background-color: hsl(225, 21%, 49%);
}

#item4
{
    width: 90%;
    max-width: 110px;
}

#item17, #item18
{
    width: 90%;
}

#item18
{
    font-size: 40px;
    background-color: red;
    color: white;
    box-shadow: 0 4px hsl(6, 70%, 34%);
}